.information-first-title {
  font-weight: 600;
  font-family: Open Sans;
  font-size: 18px ;
  line-height: 20px;
  padding-left: 10px;
}
.information-second-title {
  font-weight: 400;
  font-family: Open Sans;
  font-size: 14px ;
  line-height: 28px;
  border-bottom: 1px solid #1234;
}
.label-box {
  padding-top: 15px;
  padding-bottom: 15px;
}
.node-labels {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  background-color: aquamarine;
  border-radius: 20px;
  font-weight: 400;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.relationship-type {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  background-color: #a5abb6;
  border-radius: 3px;
  font-weight: 400;
  font-family: Open Sans;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.property-keys {
  display: inline-block;
  margin: 4px;
  padding: 6px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #1234;
  font-weight: 400;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.node-card {
  margin: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}
.node-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.node-card-title {
  padding: 10px;
  background-color: #1677ff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans";
  border-radius: 8px;
}
.node-card-content {
  padding: 10px;
}
.node-card-label {
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans";
}
.node-card-property {
  font-size: 14px;
  margin-left: 10px;
  font-family: "Open Sans";
}
