.information-first-title-add {
  font-weight: 600;
  font-family: Open Sans;
  font-size: 18px ;
  line-height: 20px;
}
.information-second-title-add {
  font-weight: 400;
  font-family: Open Sans;
  font-size: 14px ;
  line-height: 28px;
}
.label-box-add {
  padding-top: 15px;
  padding-bottom: 15px;
}
