#left-menu-box {
  height: 100vh;
  background-color: #001529;
}
#left-menu-box #left-menu {
  border-radius: 8px;
}
#left-menu-box #left-menu #left-menu-select > li {
  border: 1px solid #FFFFFF;
}
.flex-box {
  display: flex;
  background-color: white;
  width: 250px;
}
