.ant-layout-sider.ant-layout-sider-light#graph-card-sider {
  display: block !important;
  width: 40vh !important;
  max-width: 40vh !important;
  min-width: none !important;
  flex: none !important;
  border: 1px solid black;
  border-radius: 8px;
  margin: 5px;
}
